<a href="https://colab.research.google.com/github/Alejandra238/Coursera_Capstone/blob/main/Agrupaci%C3%B3n_y_Segmentaci%C3%B3n_de_Vecindarios_en_la_Ciudad_de_Toronto%2C_Canad%C3%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!wget -q -O 'toronto_data.json' https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
print('Data downloaded!')

Data downloaded!

In [4]:
from bs4 import BeautifulSoup

with open("index.html") as fp:

SyntaxError: ignored

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import pandas as dp

df1 = dp.read_csv('DataPrueba (1).csv',';')

df1.columns

Index(['ID', 'Tiempo de Atencion', 'Tipo Atencion', 'Tipo Atencion.1',
       'Monto ', 'Tasa', 'Plazo ', 'Tipo_desembolso', 'NPS', 'Tipo_NPS'],
      dtype='object')

In [3]:
df1

,ID,Tiempo de Atencion,Tipo Atencion,Tipo Atencion.1,Monto,Tasa,Plazo,Tipo_desembolso,NPS,Tipo_NPS
0,251653,19,1,Caja,4262,29,36,efectivo,9,NPS_alto
1,251610,20,1,Caja,3320,30,46,Cuenta,10,NPS_alto
2,251314,18,1,Caja,4303,19,15,efectivo,10,NPS_alto
3,251313,55,1,Caja,4398,19,13,efectivo,5,NPS_bajo
4,251294,20,2,Plataforma,4963,28,31,Cuenta,10,NPS_alto
...,...,...,...,...,...,...,...,...,...,...
120,246245,20,1,Caja,3248,21,13,efectivo,5,NPS_bajo
121,246248,16,2,Plataforma,2036,22,27,Cuenta,8,NPS_Medio
122,246252,42,2,Plataforma,2115,30,28,efectivo,6,NPS_Medio
123,246256,10,2,Plataforma,2218,28,33,Cuenta,10,NPS_alto
124,246261,10,2,Plataforma,2028,36,16,efectivo,10,NPS_alto

In [4]:
df1.columns

Index(['ID', 'Tiempo de Atencion', 'Tipo Atencion', 'Tipo Atencion.1',
       'Monto ', 'Tasa', 'Plazo ', 'Tipo_desembolso', 'NPS', 'Tipo_NPS'],
      dtype='object')

In [5]:
df1.columns = ['ID', 'TiempodeAtencion', 'TipoAtencion', 'CanalAtencion','Monto', 'Tasa', 'Plazo', 'TipoDesembolso', 'NPS', 'Calificacion']

In [6]:
df1.columns

Index(['ID', 'TiempodeAtencion', 'TipoAtencion', 'CanalAtencion', 'Monto',
       'Tasa', 'Plazo', 'TipoDesembolso', 'NPS', 'Calificacion'],
      dtype='object')